* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1448px;
    margin: auto;
    padding: 15px 0;
}

.logo {
    display: inline;
    padding: 21px 50px 20px 10px;
}

.logo-3 {
    color: #3D8493;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 55px;
}

.logo-1 {
    color:#D89F65;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 55px;
}

.logo-2 {
    color: #4A5C2F;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 55px;
}

/* .header-div {
    display: flex;
} */

.search-bar {
    background-color: #ECF3F5;
    padding: 20px 15px;
    border-radius: 10px;
    border: none;
    width: 320px;
    margin: 0px 0px 80px 0px;
}

.search-bar::placeholder {
    color: #89928E;
    padding: 20px;
    font-size: 15px;
}

.input-date {
    margin-left: 550px;
    border: none;
}

.header-button {
    background-color: #B1CED4;
    padding: 20px 40px ;
    color: #2C3832;
    border-radius: 10px;
    border: none;
    margin-left: 15px;
    font-size: 18px;
}

.header-button::before {
    content:"+";
    padding-right: 5px;
    font-size: 20px;
}



.main-container {
    max-width: 1200px;
    margin: auto;
}




.cards {
    /* margin-left: 100px; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 40px;
    align-items: start;
}

.card {
    width: 100%;
    height: 300px;
    border-radius: 14px;
    overflow: hidden;
    background-color: #D8E6E9;
    font-family: sans-serif;
    /* display: inline-block; */
    /* margin-left: 20px;
    margin-bottom: 50px; */
}

.image-container {
    display: flex;
}

.image-container img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 0px;
    text-align: center;
}

.card-content h3 {
    letter-spacing: 1px;
    padding: 17px 0px 0px;
    font-size: 20px;
}

.card-content span {
    padding: 20px;
}

.category-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.badge {
    background-color: #D89F65;
    color: #fff;
    width: 1px;
    height: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.card:nth-child(1) .badge {
    color: black
}

.footer-div {
    background-color: #EAF0F0;
    width: 1200px;
    height: 106px;
    margin: 50px 0px;
    font-family: 'Quicksand', 'sans-serif';
    display: grid;
}

.footer-block-1 {
background-color: #4A5C2F;
color: #fff;
display: inline-block;
padding: 20px 40px;
border-radius: 15px;
margin-right: 100px;
margin-left: 120px;
}

.footer-block-2 {
background-color: #D9D9D9;
color: #A9A9A9;
display: inline-block;
padding: 20px 40px;
border-radius: 15px;
margin-right: 100px;
margin-top: 23px;
}